body {
  font-family: "Prompt", sans-serif;
}
.popup {
    display: none; /* ซ่อนไว้ตอนแรก */
    position: fixed;
    z-index: 1;
    left: 0; top: 0; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4); /* พื้นหลังโปร่งแสง */
}
.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* ตรงกลางหน้าจอ */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* Features  */
.card-edit-border {
  position: relative;
  border: none; /* ปิด border เดิมของ bootstrap */
}

.card-edit-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%; /* เส้นบน */
  height: 30%; /* เส้นซ้าย */
  border-top: 5px solid #0155d3;
  border-left: 5px solid #0155d3;
  border-radius: 24px 0 0 0; /* โค้งมุมเล็กน้อย */
}

.card-edit-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%; /* ขอบล่าง */
  height: 30%; /* ขอบขวา */
  border-bottom: 5px solid #0155d3;
  border-right: 5px solid #0155d3;
  border-radius: 0 0 24px 0;
}

.feature-card {
  width: 18rem;
}

.feature-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon img {
  width: 100px;
  height: auto;
}
.feature-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
